<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- DynamoDB Settings -->
    <add key="DynamoDB.AccessKey" value="ACCESS_KEY" />
    <add key="DynamoDB.SecretKey" value="SECRET_KEY" />
    <add key="DynamoDB.TableName" value="CONFIG_TABLE_NAME" />

    <!-- API Settings -->
    <add key="API.ApiKey" value="API_KEY" />
    <add key="API.ApiEndPoint" value="API_ENDPOINT" />
    <add key="API.LocalFilePath" value="..\..\samples\all-articles.json" />
    
    <!-- Feed settings -->
    <add key="Feed.Format" value="rss" />
    <add key="Feed.Url" value="https://s3-{REGION_NAME}.amazonaws.com/{BUCKET_NAME}/{S3_FILE_NAME}" />
    
    <!-- Feed service settings -->
    <add key="FeedService.Title" value="Article Feed" />
    <add key="FeedService.Description" value="Knowledge Base" />
    <add key="FeedService.Category" value="Collectibles" />
    <add key="FeedService.BaseUri" value="https://www.example.com" />
    <add key="FeedService.ArticleUrl" value="https://www.example.com/article/{0}" />
    <add key="FeedService.UserUrl" value="https://www.example.com/user/{0}" />
    
    <!-- File Publisher settings -->
    <add key="FilePublisher.OutputFilePath" value="LOCAL_FILE_NAME" />
    
    <!-- S3 Publisher settings -->
    <add key="S3Publisher.Region" value="REGION_NAME" />
    <add key="S3Publisher.BucketName" value="BUCKET_NAME" />
    <add key="S3Publisher.FileName" value="S3_FILE_NAME" />
    <add key="S3Publisher.AccessKey" value="ACCESS_KEY" />
    <add key="S3Publisher.SecretKey" value="SECRET_KEY" />
  </appSettings>
</configuration>